#calendar-header span {
  margin: 20px;
  border: solid 2px black;
  background-color: antiquewhite;
  width: auto;
  padding: 10px;
  color: darkolivegreen;
}

#calendar-container {
  width: 350px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

#calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

#calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

#calendar-days button {
  padding: 10px;
  cursor: pointer;
}
